//Fonts
@import "fonts";
//Colors
@import "colors";
//Global links
a {
  text-decoration: none;
  color: $main-color-white;

  &:hover {
	text-decoration: none;
  }
}

.heroscreen-container {
  height: 100vh;
  position: relative;
  background: linear-gradient(269.85deg, rgba(33, 8, 8, 0.9) 21.28%, rgba(58, 58, 58, 0.27) 96.11%),
  url("../images/hero-screen_bg.png") center / cover no-repeat;

  .heroscreen_nav {
	border-bottom: 1px solid $main-color-grey;

	.nav-menu {
	  text-align: center;
	  @include ralewayFont(14px);
	  justify-content: space-between;

	  .nav-item {
		.nav-link {
		  color: $main-color-white;

		  &:hover {
			color: $main-color-red;
		  }
		}
	  }
	}
  }

  .heroscreen-logo {
	margin: 15px auto;
  }

  .heroscreen-title {
	@include playfairFont(24px);
	text-transform: uppercase;
	color: $main-color-white;
	margin: 30px 0;
  }

  .heroscreen-button {
	width: 180px;
	height: 48px;
	line-height: 44px;
	border: 2px solid $main-color-grey-light;
	@include ralewayFont(16px);
	margin: 15px auto;
	text-transform: uppercase;

	&:hover {
	  color: $main-color-red;
	  border: 2px solid $main-color-red;
	  text-decoration: none;
	}
  }
}

.artists {
  background-color: $main-color-black-2;
  padding: 40px;

  .artists-container {
	.artists-header {
	  justify-content: center;

	  .artists-title {
		@include playfairFont(61px);
		text-transform: uppercase;
		color: $main-color-grey;
	  }
	}

	.artists-cards {
	  justify-content: space-around;

	  .artists-item {
		background-color: $main-color-black-2 !important;
		border: none;
		max-width: 255px;
		margin: 15px 0;

		a {
		  .card-img-top {
			max-height: 360px;
		  }
		}

		.card-body {
		  padding: 0 0;
		  justify-content: space-between;

		  .artists-name {
			@include playfairFont(22px);
			color: $main-color-white;
			text-transform: uppercase;
		  }

		  .read-more {
			color: $main-color-white;
			margin: 0 2px;
			align-self: flex-end;

			&:hover {
			  color: $main-color-red;
			}
		  }

		}
	  }
	}
  }
}

.about {
  height: 410px;
  background: url("../images/about-bg.png") center / cover no-repeat;
  position: relative;

  .about-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.row {
	  justify-content: space-around;

	  .about-item {
		max-width: 360px;

		.item-img {
		  margin-right: 10px;
		}

		.about-item_text {
		  .about-item_title {
			@include playfairFont(20px);
			text-transform: uppercase;
		  }

		  .about-item_content {
			@include ralewayFont(14px);
			margin-bottom: 0;
		  }

		  .about-item_link {
			color: $main-color-red;
			margin-bottom: 0;

		  }
		}
	  }
	}

  }
}

.featured {
  background-color: $main-color-black-2;
  padding: 40px;

  .featured-container {
	.featured-title {
	  justify-content: space-between;

	  .title {
		@include playfairFont(61px);
		text-transform: uppercase;
		color: $main-color-grey;
	  }

	  .learn-more {
		align-self: center;

		a {
		  &:hover {
			color: $main-color-red;
		  }
		}
	  }
	}

	.featured-sub {
	  @include playfairFont(24px);
	  text-transform: uppercase;
	  color: $main-color-white;
	}
  }

  .featured-img {
	justify-content: space-between;
	align-self: center;

	.img-down {
	  align-self: flex-end;
	}
  }
}

.about-us {
  background: url("../images/about-us_bg.png");
  min-height: 350px;
  display: flex;
  align-items: center;

  .container {
	.row {
	  .about-us__text {
		.about-us__title {
		  @include playfairFont(61px);
		  text-transform: uppercase;
		  color: $main-color-grey;
		  text-align: center;
		}

		.about-us__content {
		  @include ralewayFont(15px);
		}
	  }

	  .about-us__img-block {
		position: relative;

		img {
		  position: absolute;
		  top: -55px;
		}
	  }
	}
  }
}

.collective {
  background-color: $main-color-black-2;
  padding: 40px;

}

@media (min-width: 992px) {
  .featured > .featured-container > .featured-sub {
	position: absolute;
  }
}

@media (max-width: 992px) {

  h2 {
	font-size: 48px !important;
	text-align: center;
  }

  .featured > .featured-container > .featured-img {
	padding-top: 15px;
  }


}
